/node_modules
/public/hot
/public/storage
/public/app/
/public/uploads/
/storage/*.key
/vendor
/.git2
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
composer.lock
/storage/worker.log
/storage/monitor_token
/storage/framework/sessions/