.left-padding-0 {
    padding-left: 0 !important;
}
.right-padding-0 {
    padding-right: 0 !important;
}

.display-direction {
    display: flex;
    flex-direction: row;
}
.ui-autocomplete {
    z-index: 9999 !important;
}
.vl {
    border-left: 1px solid rgb(173, 171, 171);
    height: 100%;
    position: absolute;
    left: 59%;
    margin-left: -3px;
    top: 0;
}
.width {
    width: 100%;
    height: 100%;
}
.quiz-tabs .nav-link {
    background: #3f6ad8;
    padding: 8px 15px;
    margin: 1px;
    color: #fff;
}
.quiz_view {
    display: none;
}
.question_add {
    display: none;
}
.quiz-tabs .nav-link:hover {
    color: #ebedf2 !important;
}
.grid-menu.grid-menu-3col [class*="col-"]:nth-child(3n) {
    border-right-width: 1px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #eee;
    cursor: inherit;
    display: block;
}

.widget-content-right .icheckbox_flat-green {
    display: inline-block !important;
    top: 8px;
}
.question_delete_button {
    height: 30px !important;
    margin-top: 3px !important;
}
.assign {
    display: none;
}
.qestion_option .add-row {
    display: none;
}
.assignment_view {
    display: none;
}
.assignment-quiz {
    display: inherit;
}
.assignment_students {
    display: none;
}
#student_assignment_assign input[type="checkbox"] {
    display: none !important;
}
.search-box-quiz {
    height: 2.15rem !important;
}
.message-image {
    width: 100% !important;
}

.icon-wrapper i {
    font-size: 2.7rem;
}

.dashboard-buttin-heading {
    font-size: 1.4rem !important;
}

.icon-wrapper-custom {
    width: 55px !important;
    height: 54px !important;
}

.widget-numbers-custom {
    font-size: 1.5rem !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.padding-bottom-0 {
    padding-bottom: 0 !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top-0 {
    margin-top: 0 !important;
}
.quiz-progress {
    width: 200px;
    height: 2rem !important;
}
.w-200 {
    width: 200px !important;
}
.q-option:hover {
    cursor: pointer;
}
.margin-side-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.dropdown-item:hover {
    cursor: pointer;
}
.chat-wrapper {
    height: 25vw;
}
